<div class="container bg-primary">
  <div class="card-deck">
    <div class="card mb-4">
      <div class="row no-gutters">
        <a href="#" class="col-md-2">
          <img class="card-img logo_Streamer" src="\Pages\Ressources_Images\Logos_Streamers\Stream_Faction_Logo.png">
        </a>
        <div class="col-md-8">
          <div class="card-body">
            <a href="#" class="label label-black"></a>
            <h5 class="card-title">Stream Faction</h5>
            <p class="card-text">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à
              titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès
              qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le
              Lorem ipsum ou Lipsum.</p>
            <p class="card-text">
              <small class="text-muted">Dernière modification hier</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row no-gutters">
        <a href="#" class="col-md-2">
          <img class="card-img logo_Streamer" src="\Pages\Ressources_Images\Logos_Streamers\vanavatar_pseudo.png">
        </a>
        <div class="col-md-8">
          <div class="card-body">
            <a href="#" class="label label-black"></a>
            <h5 class="card-title">Van Drake</h5>
            <p class="card-text">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à
              titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès
              qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le
              Lorem ipsum ou Lipsum.</p>
            <p class="card-text">
              <small class="text-muted">Dernière modification il y a 3 jours</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row no-gutters">
        <a href="#" class="col-md-2">
          <img class="card-img logo_Streamer" src="\Pages\Ressources_Images\Logos_Streamers\dragonicon.png">
        </a>
        <div class="col-md-5">
          <div class="card-body">
            <a href="#" class="label label-black"></a>
            <h5 class="card-title">Van Drake</h5>
            <p class="card-text">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à
              titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès
              qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le
              Lorem ipsum ou Lipsum.</p>
            <p class="card-text">
              <small class="text-muted">Dernière modification il y a 2 jours</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row no-gutters">
        <a href="#" class="col-md-2">
          <img class="card-img logo_Streamer" src="\Pages\Ressources_Images\Logos_Streamers\flucherqs.png">
        </a>
        <div class="col-md-8">
          <div class="card-body">
            <a href="#" class="label label-black"></a>
            <h5 class="card-title">Fluchers</h5>
            <p class="card-text">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à
              titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès
              qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le
              Lorem ipsum ou Lipsum.</p>
            <p class="card-text">
              <small class="text-muted">Dernière modification il y a 2 ans</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
